body {
	background-color: #D0F5A9;
	user-select: none;
}
.calculator {
	width: 400px;
	height: auto;
	margin: auto;
	border-radius: 6px;
	border: solid 1px #bebebe;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #fff;
}
.calcHead {
	height: 80px;
	text-align: right;
	border-bottom: solid 3px #d8d8d8;
	padding-right: 10px;
}
#input {
	font-size: 30px;
	font-weight: bold;
}
#output {
	font-size: 24px;
}
.calcBody {
	width: 100%;
	height: auto;
}
.calcNumber {
	width:75%;
	height: auto;
	display: inline-block;
}
.calcOper {
	width: 20%;
	height: auto;
	display: inline-block;
}
.calcButton {
	width: 96px;
	height: 96px;
	line-height: 96px;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
}
.calcButton:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .1);
}
.calcButtonOper{
	width: 96px;
	height: 96px;
	line-height: 96px;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	background-color: #CEE3F6;
}
.calcButtonOper:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .1);
	background-color: #A9BCF5;
}
.calcEqually {
	width: 100%;
	height: 96px;
	line-height: 96px;
	display: inline-block;
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	color: #fff;
	background-color: #FA5882;
}
.calcEqually:hover {
	cursor: pointer;
	background: rgba(0, 0, 0, .1);
	background-color: #DF0174;
}